## Base
fastapi[all]
bcrypt
boto3
pyjwt
pynamodb
requests

## Linting
black
flake8
isort
mypy

## Testing
moto
pytest
pytest-cov
pytest-httpx
pytest-xdist
pytest-asyncio

## Development
python-dotenv
python-json-logger

## Types
types-boto3
types-PyYAML
types-requests

sqlmodel
asyncpg
alembic
sqlalchemy
sqlalchemy-utils
psycopg2-binary